<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ado_SEO>
            <version>2.0.2</version>
        </Ado_SEO>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <layer>Ado_SEO_Model_Catalog_Layer</layer>
                    <layer_filter_category>Ado_SEO_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_attribute>Ado_SEO_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Ado_SEO_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                    <layer_filter_item>Ado_SEO_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                </rewrite>
            </catalog>
            <enterprise_catalogsearch>
                <rewrite>
                    <layer_filter_attribute>Ado_SEO_Model_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </enterprise_catalogsearch>
            <catalogsearch>
                <rewrite>
                    <layer>Ado_SEO_Model_CatalogSearch_Layer</layer>
                </rewrite>
            </catalogsearch>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>Ado_SEO_Model_Catalog_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog_resource>
            <ado_seo>
                <class>Ado_SEO_Model</class>
                <resourceModel>ado_seo_resource</resourceModel>
            </ado_seo>
            <ado_seo_resource>
                <class>Ado_SEO_Model_Resource</class>
                <entities>
                    <attribute_url_key>
                        <table>ado_seo_attribute_url_key</table>
                    </attribute_url_key>
                </entities>
            </ado_seo_resource>
            <core>
                <rewrite>
                    <url_rewrite>Ado_SEO_Model_System_Rewrite</url_rewrite>
                    <url_rewrite_request>Ado_SEO_Model_System_Rewrite_Request</url_rewrite_request>
                    <layout_update>Ado_SEO_Model_System_Layout_Update</layout_update>
                </rewrite>
            </core>
            <enterprise_urlrewrite>
                <rewrite>
                    <url_rewrite>Ado_SEO_Model_System_Rewrite</url_rewrite>
                    <url_rewrite_request>Ado_SEO_Model_System_Rewrite_Request</url_rewrite_request>
                </rewrite>
            </enterprise_urlrewrite>
        </models>
        <request_rewrite>
            <ado_seo>
                <model>
                    Ado_SEO_Model_System_Rewrite_Request
                </model>
            </ado_seo>
        </request_rewrite>
        <resources>
            <ado_seo_setup>
                <setup>
                    <module>Ado_SEO</module>
                </setup>
            </ado_seo_setup>
        </resources>
        <blocks>
            <catalog>
                <rewrite>
                    <category_view>Ado_SEO_Block_Catalog_View</category_view>
                    <product_list_toolbar>Ado_SEO_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                <!--   <layer_state>Ado_SEO_Block_Catalog_Layer_State</layer_state>
                  <layer_filter_attribute>Ado_SEO_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Ado_SEO_Block_Catalog_Layer_Filter_Price</layer_filter_price> -->
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_pager>Ado_SEO_Block_Catalog_Product_List_Pager</html_pager>
                </rewrite>
            </page>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>Ado_SEO_Block_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                    <result>Ado_SEO_Block_CatalogSearch_Result</result>
                    <term>Ado_SEO_Block_CatalogSearch_Term</term>
                </rewrite>
            </catalogsearch>
            <ado_seo>
                <class>Ado_SEO_Block</class>
            </ado_seo>
        </blocks>
        <helpers>
            <ado_seo>
                <class>Ado_SEO_Helper</class>
            </ado_seo>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <ado_seo>
                        <class>Ado_SEO_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </ado_seo>
                </observers>
            </controller_front_init_routers>
        </events>
        <index>
            <indexer>
                <ado_seo_attribute>
                    <model>ado_seo/indexer_attribute</model>
                </ado_seo_attribute>
            </indexer>
        </index>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Ado_SEO before="Mage_Catalog">Ado_SEO</Ado_SEO>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <Ado_SEO before="Mage_CatalogSearch">Ado_SEO</Ado_SEO>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <events>
            <controller_action_postdispatch_directory_currency_switch>
                <observers>
                    <frontend_currency_change>
                        <class>Ado_SEO_Model_Observer</class>
                        <method>hookCurrencyChangeDispatch</method>
                    </frontend_currency_change>
                </observers>
            </controller_action_postdispatch_directory_currency_switch>
            <sales_quote_product_add_after>
                <observers>
                    <ado_cart_product_price>
                        <class>Ado_SEO_Model_Observer</class>
                        <method>applyDiscount</method>
                    </ado_cart_product_price>
                </observers>
            </sales_quote_product_add_after>
            <checkout_cart_update_items_after>
                <observers>
                    <ado_checkout_product_price>
                        <class>Ado_SEO_Model_Observer</class>
                        <method>applyDiscounts</method>
                    </ado_checkout_product_price>
                </observers>
            </checkout_cart_update_items_after>
        </events>
        <layout>
            <updates>
                <ado_seo module="Ado_SEO">
                    <file>ado_seo.xml</file>
                </ado_seo>
            </updates>
        </layout>
    </frontend>
    <default>
        <ado_seo>
            <catalog>
                <enabled>1</enabled>
                <ajax_enabled>1</ajax_enabled>
                <price_slider>1</price_slider>
                <price_slider_submit_type>2</price_slider_submit_type>
                <price_slider_delay>3</price_slider_delay>
                <multiple_choise_filters>1</multiple_choise_filters>
                <title_template>filter catalog</title_template>
                <keyword_template>filter catalog</keyword_template>
                <desc_template>Shop filter catalog online, browse through our selection of filter catalog at siteurl
                </desc_template>
                <url_nrewrite_flag><![CDATA[checkout/,directory/,adminhtml,sociallogin/,/sales/,customer/,/oauth/,catalogsearch/, wishlist,newsletter,
				payment,paypal,orderPayment,globalcollect,alipay,masapay,detailedreview]]></url_nrewrite_flag>
            </catalog>
        </ado_seo>
    </default>
</config>
