<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <ado translate="label" module="ado_seo">
            <label>Ado</label>
            <sort_order>300</sort_order>
        </ado>
    </tabs>
    <sections>
        <ado_seo translate="label" module="ado_seo">
            <label>Ado SEO</label>
            <tab>ado</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <catalog translate="label">
                    <label>Catalog Layered Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>ado_seo/system_config_backend_seo_catalog</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <ajax_enabled translate="label">
                            <label>Enable AJAX</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>ado_seo/system_config_backend_seo_catalog</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </ajax_enabled>
                        <quick_view translate="label">
                            <label>Enable Quick View In Category Grid</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </quick_view>
                        <price_slider translate="label">
                            <label>Enable Price Slider</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>ado_seo/system_config_backend_seo_catalog</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </price_slider>
                        <price_slider_submit_type translate="label">
                            <label>Price Slider Submit Type</label>
                            <frontend_type>select</frontend_type>
                            <comment>in seconds</comment>
                            <source_model>ado_seo/system_config_source_slider_submit_type</source_model>
                            <backend_model>ado_seo/system_config_backend_seo_catalog</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <price_slider>1</price_slider>
                            </depends>
                        </price_slider_submit_type>
                        <price_slider_delay translate="label">
                            <label>Price Slider Delay</label>
                            <frontend_type>text</frontend_type>
                            <comment>in seconds</comment>
                            <backend_model>ado_seo/system_config_backend_seo_catalog</backend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <price_slider_submit_type>1</price_slider_submit_type>
                            </depends>
                        </price_slider_delay>
                        <title_template translate="label">
                            <label>Default Mata Title Template</label>
                            <frontend_type>text</frontend_type>
                            <comment>Will replace words [filter,catalog,siteurl] to result,just use in catalog page
                            </comment>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </title_template>
                        <keyword_template translate="label">
                            <label>Default Mata Keywords Template</label>
                            <frontend_type>text</frontend_type>
                            <comment>Same as Mata Title Template</comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </keyword_template>
                        <desc_template translate="label">
                            <label>Default Mata Description Template</label>
                            <frontend_type>text</frontend_type>
                            <comment>Same as Mata Title Template</comment>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </desc_template>
                        <over_template translate="label">
                            <label>Use Catalog Meta Keyword/Description Replaced</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>
                                <![CDATA[Same as Mata Description Template rule<br>Yes:1.use catalog meta data,if catalog meta then.use this template;<br>No:just use this template]]></comment>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </over_template>
                        <jscached translate="label">
                            <label>Close Js Client Cache</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>
                                <![CDATA[if mobile menu,helpers block change,Set Yes then Client reload it.]]></comment>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </jscached>
                        <shipping_days_total_template translate="label">
                            <label>Delivery:Standard Total Time</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipping_days_total_template>
                        <shipping_days_tailoring_template translate="label">
                            <label>Delivery:Tailoring Time</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipping_days_tailoring_template>
                        <shipping_days_shipping_template translate="label">
                            <label>Delivery:Shipping Time</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipping_days_shipping_template>
                        <shipping_days_note_template translate="label">
                            <label>Delivery Description Note</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>
                                <![CDATA[Note for Delivery Description, Format [12] will be replace to =taday+12 days.]]></comment>
                            <sort_order>230</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipping_days_note_template>
                        <url_nrewrite_flag translate="label">
                            <label>No Rewrite Url Tags</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[commas-separated list Or New line list]]></comment>
                            <sort_order>900</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url_nrewrite_flag>
                    </fields>
                </catalog>
            </groups>
            <groups>
                <product translate="label">
                    <label>Product Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <count_down_enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>ado_seo/system_config_backend_seo_catalog</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </count_down_enabled>
                        <count_down_time translate="label">
                            <label>Count Down:Time</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </count_down_time>
                        <count_down_info translate="label">
                            <label>Count Down:Information</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </count_down_info>
                        <sizetype translate="label">
                            <label>Size Split</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ado_seo/system_config_source_sizetype</source_model>
                            <comment><![CDATA[product view options type size type]]></comment>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </sizetype>
                        <sizetypeprex translate="label">
                            <label>Hide Size Prex</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Hide size prex like 6 not US6]]></comment>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </sizetypeprex>
                    </fields>
                </product>
            </groups>
            <groups>
                <cart translate="label">
                    <label>Cart Default Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <coupon translate="label">
                            <label>Default Coupon</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </coupon>
                        <country translate="label">
                            <label>Default country</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </country>
                        <shippingmethod translate="label">
                            <label>Default ShippingMethod</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_shipping_allmethods</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shippingmethod>
                        <add_cart_discount>
                            <label>Default Discount</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<1 use percent,else use fixed amount.]]></comment>
                        </add_cart_discount>
                        <add_cart_discount_categories>
                            <label>Discount Exclude Categories</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[ex: 2,3]]></comment>
                        </add_cart_discount_categories>
                    </fields>
                </cart>
            </groups>
            <groups>
                <conversion translate="label">
                    <label>Conversion Code</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <conversion_code translate="label">
                            <label>Conversion Code 1</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[Variable #total# will be replaced]]></comment>
                            <sort_order>1100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </conversion_code>
                        <conversion_code_pages translate="label">
                            <label>Conversion Code 1 In Pages</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ado_seo/system_config_source_conversion</source_model>
                            <sort_order>1200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </conversion_code_pages>
                        <conversion_code_other translate="label">
                            <label>Conversion Code 2</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[Variable #total# will be replaced]]></comment>
                            <sort_order>1300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </conversion_code_other>
                        <conversion_code_other_pages translate="label">
                            <label>Conversion Code 2 In Pages</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ado_seo/system_config_source_conversion</source_model>
                            <sort_order>1400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </conversion_code_other_pages>
                        <conversion_code_third translate="label">
                            <label>Conversion Code 3</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[Variable #total# will be replaced]]></comment>
                            <sort_order>1500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </conversion_code_third>
                        <conversion_code_third_pages translate="label">
                            <label>Conversion Code 3 In Pages</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ado_seo/system_config_source_conversion</source_model>
                            <sort_order>1600</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </conversion_code_third_pages>
                    </fields>
                </conversion>
            </groups>
            <groups>
                <site translate="label">
                    <label>Site Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <words translate="label">
                            <label>Default Replace Words.</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA['key|word,' Auto append space word.]]></comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </words>
                    </fields>
                </site>
            </groups>
        </ado_seo>
    </sections>
</config>
