.swiper-container-thumbnail{
    position: absolute;
    top: 400px;
    max-width: 400px;
}
.quick-view-content .swiper-container-product-main-image.swiper-container.swiper-container-horizontal{
    float: none;
}
.swiper-button-black{ display: none;}
.swiper-container-thumbnail.swiper-container-vertical > .swiper-wrapper{ -webkit-flex-direction: inherit;
     flex-direction: inherit;}
.swiper-container-thumbnail .swiper-slide{ clear: none; }
