<?xml version="1.0"?>
<config>
    <modules>
        <Kush_Reviewimage>
            <version>1.0.4</version>
        </Kush_Reviewimage>
    </modules>
    <frontend>
        <routers>
            <review>
                <args>
                    <modules>
                        <Kush_Reviewimage before="Mage_Review">Kush_Reviewimage</Kush_Reviewimage>
                    </modules>
                </args>
            </review>
        </routers>
        <layout>
            <updates>
                <reviewimage>
                    <file>reviewimage.xml</file>
                </reviewimage>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <reviewimage>
                                            <title>Review Image</title>
                                        </reviewimage>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Kush_Reviewimage_CatalogProductReview before="Mage_Adminhtml">Kush_Reviewimage_Adminhtml
                        </Kush_Reviewimage_CatalogProductReview>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <rewrite>
            <review_gallery>
                <from><![CDATA[#^/style-gallery#]]></from>
                <to><![CDATA[/review/gallery/index]]></to>
                <complete>1</complete>
            </review_gallery>
        </rewrite>
        <resources>
            <reviewimage_setup>
                <setup>
                    <module>Kush_Reviewimage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reviewimage_setup>
            <reviewimage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reviewimage_write>
            <reviewimage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reviewimage_read>
        </resources>
        <models>
            <review>
                <rewrite>
                    <review>Kush_Reviewimage_Model_Review</review><!--reviews models rewrite here-->
                </rewrite>
            </review>
            <review_resource>
                <rewrite>
                    <review>Kush_Reviewimage_Model_Resource_Review</review>
                    <review_summary>Kush_Reviewimage_Model_Resource_Summary</review_summary>
                    <review_product_collection>Kush_Reviewimage_Model_Resource_Review_Product_Collection</review_product_collection>
                </rewrite>
            </review_resource>
            <rating_resource>
                <rewrite>
                    <rating>Kush_Reviewimage_Model_Resource_Rating</rating>
                </rewrite>
            </rating_resource>
            <review_resource>
                <rewrite>
                    <review_collection>Kush_Reviewimage_Model_Resource_Review_Collection</review_collection>
                </rewrite>
            </review_resource>
        </models>
        <blocks>
            <reviewimage>
                <class>Kush_Reviewimage_Block</class>
            </reviewimage>
            <review>
                <rewrite>
                    <form>Kush_Reviewimage_Block_Review_Edit_Form</form>
                </rewrite>
            </review>
            <rating>
                <rewrite>
                    <entity_detailed>Kush_Reviewimage_Block_Rating_Detailed</entity_detailed>
                </rewrite>
            </rating>
            <adminhtml>
                <rewrite>
                    <review_rating_summary>Kush_Reviewimage_Block_Adminhtml_Review_Rating_Summary
                    </review_rating_summary>
                </rewrite>
                <rewrite>
                    <review_rating_detailed>Kush_Reviewimage_Block_Adminhtml_Review_Rating_Detailed
                    </review_rating_detailed>
                </rewrite>
                <rewrite>
                    <review_add_form>Kush_Reviewimage_Block_Adminhtml_Review_Add_Form</review_add_form>
                </rewrite>
                <rewrite>
                    <review_edit_form>Kush_Reviewimage_Block_Adminhtml_Review_Edit_Form</review_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <reviewimage>
                <class>Kush_Reviewimage_Helper</class>
            </reviewimage>
        </helpers>
    </global>
    <default>
        <reviewimage>
            <reimage>
                <reimagefield>1</reimagefield>
                <mincatalog>3</mincatalog>
                <imageresolutionnormal>480x640</imageresolutionnormal>
                <imageresolution>180x240</imageresolution>
                <imageresolutionsmall>80x120</imageresolutionsmall>
                <maximages>3</maximages>
                <imagepath>reviewimages</imagepath>
                <reimagetitle>0</reimagetitle>
                <reimageupload>1</reimageupload>
                <reimageshow>1</reimageshow>
                <reimageshowsku>1</reimageshowsku>
                <reimagemust>1</reimagemust>
                <ratingcode>rating</ratingcode>
            </reimage>
        </reviewimage>
    </default>
</config>